* {
    scroll-behavior: smooth;
}

body {
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat, repeat;
    background-size: 100%;
}

.head-container {
    display: flex;
    justify-content: space-between;
    background: rgb(224, 181, 196);
    padding: 10px;
    border-bottom: 3px solid rgb(207, 171, 183);
}

.main-title {
    margin-left: 10px;
    padding:5px;
    
}

.main-social {
    display: flex;
}

.social-icon {
    margin-left: 10px;
    margin-right: 10px;
    padding:5px;
}

.navbar {
    top: 35px;
    background:#E0E0E0;
    z-index: 1;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: #363636;
}

.photo-container {
    border-top: 3px solid rgb(165, 109, 91);
    top:70px;
    width:100%;
    position: relative;
  text-align: center;
  color: white;
  left:0px;
}

.img-fluid {
    filter: grayscale(.6);
}

.centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align:justify;
        background-color: rgba(255, 255, 255, 0.589);
        border:3px solid rgb(165, 109, 91);
        padding: 8px;
        width:400px;
        border-radius: 5px;
  }