@font-face {
    font-family: "WesttgoniaBarneh";
    src: url("./WesttgoniaBarneh.ttf");
  }

  @font-face {
    font-family: "SkinnyJeans";
    src: url("./SkinnyJeans.ttf");
  }

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/*Title & NavBar*/
.navbar-nav {
    padding-top: 15px;
}
.navbar-light .navbar-brand {
    color: #ffffff;
  letter-spacing: .1em;
  font-size: 3vw;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link  {
    color: #ffffff;
    font-size: 2vw;
    padding: 15px;
    font-family: SkinnyJeans;
}

.nav-item a:hover {
        -webkit-animation: neon 1.5s ease-in-out infinite alternate; 
      }
      @-webkit-keyframes neon {
        from {
          text-shadow: 0 0 10px #fff,
                     0 0 20px  #c4000d,
                     0 0 30px  #c4000d,
                     0 0 40px  #c4000d,
                     0 0 70px  #c4000d,
                     0 0 80px  #c4000d,
                     0 0 100px #c4000d,
                     0 0 150px #c4000d;
        }
        to {
          text-shadow: 0 0 5px #fff,
                     0 0 10px #fff,
                     0 0 15px #fff,
                     0 0 20px red,
                     0 0 35px red,
                     0 0 40px red,
                     0 0 50px red,
                     0 0 75px red;
        }
      }

.navbar-brand {
    margin-left: 10px;
    padding-top:0px;
    font-size: 3vw;
    font-family: WesttgoniaBarneh;
    color: white;
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.subBrand {
    font-family: monospace;
    font-size: 1.2vw;
    text-align: center;
    margin-bottom: 0px;
    
}

.main-social {
    display: flex;
    padding:0px;
    justify-content: center;
}

.fab {
    font-size: 2vw;
    margin-left: 10px;
    margin-right: 10px;
    padding:5px;
}

.main-image {
    z-index: -1;
    position: absolute;
    top:0px;
}

.main-image img{
max-width: 100%;
max-height:100%;
opacity: .7;
}

h1{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px 5px 0px 0px;
    background-color:  rgb(255, 255, 255);
    font-family:WesttgoniaBarneh;
    color: maroon;
    display: block;
}
.card {
    text-align: center;
}
.fullpage {
    max-width: 1280px;
    display: flex;
    justify-content: center;
}

#array {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.548);
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
    max-width: 700px;
    max-height: 400px;
    overflow: hidden;
    overflow-y:auto;
    padding-left: 50PX;
    padding-bottom: 5px;
}

#bioDiv{
    display: flex;
    background: rgba(255, 255, 255, 0.548);
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 700px;
    max-width: 700px;
    overflow: hidden;
    overflow-y:auto;
    color: #4b4b4b;
    align-content: space-between;
}
.aboutMeStats{
    flex-basis: 1;
    display: flex;
}

.aboutMeBio {
    flex-basis: 1;
    flex-grow: 3;
    display: flex;
}
.me {
    height: 25%;
    width:30%;
    border-radius: 100%;
    display: block;
}
/*Footer */
.page-footer {
    background-color:#fff;
    text-align: center;
    color: #555555; 
    height: auto;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: SkinnyJeans
}



/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .navbar-brand {
        display: none;
    }
}
